<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.User">

    <!--<resultMap id="userResult" type="com.luliu.rest.model.User">
        <id property="id" column="id"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname"/>
        <result property="email" column="email"/>
        <result property="mobile" column="mobile"/>
    </resultMap>-->

    <select id="getUserList" resultType="User">
        SELECT * FROM user
    </select>

    <select id="getUser" parameterType="long" resultType="User">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        INSERT INTO user (id, firstname, lastname, email, mobile)
        VALUES (#{id}, #{firstname}, #{lastname}, #{email}, #{mobile})
    </insert>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE user
        SET firstname = #{firstname}, lastname = #{lastname}, email = #{email}, mobile = #{mobile}
        WHERE id = #{id}
    </update>

</mapper>